.impares{
    background-color: lightcoral;
    font-family: "Verdana", "DejaVu Sans","sans-serif";
}

#segundo{
    color: blue;
    font-size: 36px;
}

#tercero{
    font-size: 24px;
}

#cuarto{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

/*•	¿Los elementos p impares comparten una clase? 
Si y se llama impares
•	¿Los elementos div pares tienen IDs únicos? 
Si y son denominados  segundo y cuarto
•	¿El elemento número 3 tiene múltiples clases?
No tiene una clase y un id
*/